@charset "UTF-08";

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

:root {
    --cor-principal: #596992;
    --cor-secundaria: #425377;
    --cor-terciaria: #f8e5b9;
    --cor-detalhes: #aebadf;
    --cor-titulo: #303c55;
}

.cardsHome {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

#cardContainer {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--cor-terciaria) !important;
    border: none !important;
    flex: 1 1 30%;
    margin: 20px 10px 20px 10px;
}

.card img {
    border-radius: 15px;
    height: 30vh;
    width: 17vw;
    align-self: center;

}

.card h2 {
    color: var(--cor-principal);
}

@media screen and (max-width:375px){

    body {
        background-color: red;
    }
    
    .card img {
        width: 5vw;
        height: 10vh ;
    }
}